PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6-sip==13.12.0

pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-ApplicationServices==11.1
pyobjc-framework-CoreText==11.1

tldextract==5.3.0
filelock==3.20.3
requests==2.33.0
requests-file==3.0.1
urllib3==2.7.0
certifi==2026.7.22
charset-normalizer==3.4.9
idna==3.18